In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
# call the function
say_hello()

Hello!

In [7]:
def say_something(something):
    print(something)

In [8]:
say_something

In [9]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [10]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [11]:
passing_math_count = 29370
total_student_count = 39170

In [12]:
# call the function
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [19]:
# import pandas
import pandas as pd

In [20]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [21]:
# convert grade to series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [22]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [23]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [24]:
# Convert the numerical grades to a Series.
my_grades = [92.34, 84.56, 86.78, 98.32]
my_grades = pd.Series(my_grades)
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [25]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object